* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --mainOrange:#de362f;
  --mainBlue: #0072b0;
  --primaryColor: #cfe4f6;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
body {
  
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
}
/* span.MuiButton-label{
  color:var(--mainOrange)
}
span.MuiIconButton-label{
  color:var(--mainOrange)
} */

.textOrange{
  color: var(--mainOrange);
}
h1 {
  
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
 
  margin-bottom: 0.75em;
}
h3 {
 
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  
  font-weight: bold;
  margin-bottom: 1.5em;
}
.brand{
text-decoration: none;
color: var(--mainBlue)

}
.color{
background-color: var(--mainGrey);
box-shadow: var(--lightShadow)
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}

.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
/* end of globals */

/* Navbar */



nav.navbar {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.3rem 1.2rem 0 1.2rem;
  z-index: 1;
  
}
.nav-header {
  display: flex;
  justify-content: space-between;
  color: var(--mainOrange)
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--mainBlue);
}
.nav-links {
  display: block;
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
  float: left;
  text-align: left
  
}

/* header{
  background-color: #ececec !important; 
  
} */

footer.footer{
  background-color: #ececec !important
}

.MuiPaper-root{
  background-color: #ececec !important;
  
}

.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainOrange);
  transition: var(--mainTransition);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
  
}
.nav-links a:hover {
  color: var(--primaryColor);
}

.show-nav {
  height: 100px;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}
/* end of navbar */
/* Header */

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
#imageHolder
{
	background:url(./images/cgEmblem.png) no-repeat  center center;
	height: 100px;
	width:150px;
  background-size: contain;
 
}

#comImageHolder
{
	background:url(./images/RBH.png) no-repeat center center;
	height: 100px;
	width:150px;
  background-size: contain;
  display: block;
  margin: auto
}

.pageTitle{
  margin-top: 7rem
}

.communityHeader{
  background:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('./images/PRBoat.jpg') no-repeat center center ;
  min-height: calc(100vh - 86px);
  background-size: contain
}

.header-hero, .default-hero {
  background:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('./images/coast_guard_boat.jpg') no-repeat center center fixed; /*no-repeat  0px 100% / cover transparent; */
  min-height: calc(100vh - 86px);
}

.default-hero{
  background:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('./images/coast_guard_boat.jpg') no-repeat center center fixed;
}
/* End of Header */

/* Footer */

.inlineBlock {
  display: inline-block;
  padding: 0px;
  width: auto
}

a {
  color: white;
  text-decoration: none;
  background-color: transparent
}
.footerWhiteFont {
  
    color: "#FFFFFF"
  }


.footer {
  padding: 0.9375rem 0;
  text-align: center;
  display: flex;
  z-index: 2;
  position: relative;
  background-color: var(--darkGrey)
}

.block {
  color: inherit;
  padding: 0.9375rem;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
  text-decoration: none;
  position: relative;
  display: block
}
.left {
  float: left!important;
  display: block
}
.right {
  padding: 15px 0;
  margin: 0;
  float: right!important
}